{% extends 'base.html.twig' %}
{% block title %} | About {% endblock %}
{% block body %}
    <!---------Main Section------------->
    <div class="container" id="aboutme" style="margin-top: 200px">
        <div class="row">

{#removed animated and bounceLeft#}
            <div class="nine columns "> <img src="{{ asset('images/about/about_small.png') }}" alt="people standing around a desk"> </div>



            <!----------------About Me Section--------------->
            <div class="abutme three columns" id="our_story">


                <h3 style="margin-top: 100px">Our Story</h3>
                <p style="font-size:1.255em;"><strong>BV USA LLC</strong> is an American company that at its core is tride and true to the very belief that this country was founded on. Hard work, perseverance, and the pursuit of liberty made us what we are today. A strong core of 50 members that together, they are foundation of this companies beliefs and virtue.</p>

            </div>

        </div>
    </div>








    <div class="container" id="whatwedo">
        <div class="row">




            <!----------------What We Do Section--------------->
            <div class="abutme eight columns">


                <h3>What We Do</h3>
                <p style="font-size:1.255em; text-align: right;"><strong>BV USA LLC</strong> is here to be your guiding hand in B2B Sales and Marketing Consultation.We are here to assit you with package and product developement as well as just taking your pre existing product and preparing it for sale on a specific ecomerce platform. We can assit in no background images and high quality photo and video production. No task is too big or too small for us to handle. We stand by our service with competetive pricing. Our team of knowledgeble professionals is here to help.</p>

            </div>



            <div class="four columns about2" style="margin-bottom: 300px"> <img src="images/about/about2_small.png" alt="people standing around a desk"> </div>



        </div>
    </div>





    <!----------------Affiliattes--------------->
    <div class="container" id="affiliates" style="margin-top: 150px">
        <div class="row">
            <div class="abutme twelve columns" style="text-align: center">
                <h3>Our Other Affiliates</h3>
                <p style="font-size: 1.25em;"><strong>BV USA LLC</strong> works with numerous entities and partnerships and continues to be a growing and branching business model.</p>
                <p style="font-size: 1.3em;">
                    <i class="fa fa-envelope" aria-hidden="true"></i><a style="text-decoration:none; color: #A29D8C;" href="mailto:Sales@bvsecurity.net?Subject=Hello%20BV" target="_top">OUR GENERAL EMAIL</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-th-list" aria-hidden="true"></i>  <a style="text-decoration:none; color: #A29D8C;"href="https://www.facebook.com/BV-International-1046075235460960/">BV INTERNATIONAL</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-grav" aria-hidden="true"></i>    <a style="text-decoration:none; color: #A29D8C;"href="http://www.bvsecurity.com/">BV SECURITY</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-star" aria-hidden="true"></i>  <a style="text-decoration:none; color: #A29D8C;"href="http://www.ibera.info/">IBERA</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
            </div></div></div>






{% endblock %}