{% extends 'base.html.twig' %}

{% block title %} | Business to Business {% endblock %}
{% block body %}
    <main>
        <div class="container">
            <div class="row"> <img src="images/services/marketing_sales/B2Bvideo.gif" alt="Marketing Video" style="width: 100%;height:100%;"> </div></div>




        <!---------Main Section------------->


        <!----------------We Are Here to Help Section--------------->
        <div class="container" id="aboutmemarketing" style="margin-top: 10px">
            <div class="row">


                <div class="aboutme twelve columns animated fadeInDown">


                    <h3 style="margin-top: 50px; text-align: center;">We Are Here to Help</h3>
                    <p style="font-size: 1.75em; text-align: center;"><strong>BV USA LLC</strong> is here to provide you and your company with marketing and B2B help. With years of experience and success in various markets and industries, we’re certain that we can provide a solution that helps grow your business and increase exposure. </p>

                </div>

            </div>
        </div>



        <div class="container" id="whatwedo">
            <div class="row">

                <!----------------What We Do Section--------------->
                <div class="abutme eight columns">


                    <h2>Want to Work with Us Today?</h2>
                    <p style="font-size:1.25em;"><strong>Leave a detailed message</strong> below that includes any product information relevant to a marketing strategy. We will work with you to create and conceptualize and plan, as well as target the correct audience, to improve your business and contacts. </p>

                </div>



                <div class="four columns animated fadeInRight" style="margin-bottom: 300px"> <img src="{{ asset('images/services/marketing_sales/macbookpro.jpg') }}" alt="macbook pro"> </div>



            </div>
        </div>


        <div class="parallax"></div>




        <!----------------Marketing Research and Developement Section--------------->

        <div class="container" id="mrd1">
            <div class="row">



                <div class="abutme twelve columns">
                    <h2>Marketing Research Department</h2>
                    <p style="font-size:1.25em;">Through years of exploring various methods and approaches, we have developed solid strategies for marketing that include product and competitor research, implementations across various platforms and locales, and ensuring the proper audiences are targeted to make the most of advertising funds. But we don’t stop there – we’re constantly trying out new techniques and styles to optimize our current operations. </p>

                </div>
            </div></div>




        <!----------------What to Expect--------------->

        <div class="container" id="whattoexpect" style="margin-top: 200px;">
            <div class="row">

                <div class="four columns"><img src="images/services/marketing_sales/Marketing-Hexagon.png" alt="100%satisfaction logo" id="marketinghexagon"></div>

                <div class="abutme six columns">
                    <h2>What to Expect</h2>
                    <p style="font-size:1.25em;">BV USA LLC will work with you from the first point of contact to seeing your business soundly successful <strong> – our goal is 100% satisfaction.</strong> Whether you need assistance with photo and video production, product and packaging development, or promoting an existing product into a more successful one, we’re sure to provide a level of service and results that you’ll be happy with, all at a competitive price. If you have any questions about our services or what we can help with, please contact us at the email link below. </p>

                </div><div class="two columns"></div></div></div>
    </main>
{% endblock %}