{% extends 'base.html.twig' %}
{% block title %} | Marketing {% endblock %}
{% block body %}
    <!---------Main Pic------------->
    <div id="marketingbanner">
        <div class="twelve columns">
            <img src="{{ asset('images/services/marketing/marketing-banner.jpg') }}" alt="marketing banner">
        </div>
    </div>

    <div class="container" id="aboutme">
        <div class="row">


            <div class="three columns"></div>



            <!----------------About Me Section--------------->
            <div class="abutme nine columns">


                <h3 style="margin-top: 100px">Marketing Research Department</h3>
                <p style="font-size:1.25em"><strong>BV USA LLC</strong> Innovative research, developement, and audiance targeting are all pillars that make our marketing department what it is today. Our strategies are designed to bring your company to a higher level of media exposure. Together we will be able to draw in more work and money to your company. Our goal is your 100% satisfaction. </p>

            </div>

        </div>
    </div>








    <div class="container" id="whatwedo" style="margin-top: 100px">
        <div class="row">




            <!----------------What We Do Section--------------->

            <div class="one columns"></div>
            <div class="abutme eleven columns">


                <h3 style="text-align: left;">What To Expect</h3>
                <p style="font-size:1.25em; text-align: left;"><strong>BV USA LLC</strong> is here to be your guiding hand in B2B Sales and Marketing Consultation.We are here to assit you with package and product developement as well as just taking your pre existing product and preparing it for sale on a specific ecomerce platform. We can assit in no background images and high quality photo and video production. No task is too big or too small for us to handle. We stand by our service with competetive pricing. Our team of knowledgeble professionals is here to help. If you have any general questions about our services, please contact us via the email link below. </p>


            </div>
        </div>
    </div>

    <div style="margin-bottom: 200px;">
        <div class="twelve columns">
            <img src="{{ asset("images/services/marketing/skyline.png") }}">
        </div></div>
{% endblock %}