{% extends 'base.html.twig' %}
{% block title %} | Packaged Design {% endblock %}
{% block body %}
    <div class="animated fadeInDown" style="margin-bottom: 200px;">
        <div class="twelve columns">
            <img src="{{ asset("images/services/package/package-banner2.jpg") }}" alt="post-it banner">
        </div></div>
    <div class="container" id="aboutme">
        <div class="row">
            <div class="three columns"></div>
            <!----------------Package and Branding Design--------------->
            {#Removed animated and fadeDown#}
            <div class="abutme nine columns">
                <h3 style="margin-top: 200px;">Branding &amp; Package Design</h3>
                <p style="font-size:1.25em;"><strong>BV USA LLC</strong> has inhouse crew of multi-disciplined, creative, design specialist who understand that design-driven branding paired with smart marketing can build on real communication between the customer and the brand. Above all else we need to stay above the rest and provide unique, strategic, and engaging packaging design compels a real feeling to the item and package itself.</p>
            </div>
        </div>
    </div>


    <div class="parallaxw"></div>
    <div style="height:100px;background-color: white;font-size:18px;text-align: left;margin-left: 200px">
    </div>



    <!----------------Building Brands and Creating Relationships--------------->

    <div class="container" id="whatwedo" style="margin-top: 50px">
        <div class="row">
            <div class="one columns"></div>
            <div class="abutme eleven columns">
                <h3 style="text-align:left;">Building Brands &#124;&#124; Creating Relationships</h3>
                <p style="font-size:1.25em; text-align: left;"><strong>BV USA LLC</strong> can develop, design and effectively market your companies brand and products. With distinctive consumer products and packaging, our experiance knows no bounds. We can provide you with distinct sales and brand strategies that will ultimately bridge the gap between consumers and your company. It is no secret that a good package will sell units, so let us be the designing force for your next big idea.
            </div>
        </div>
    </div>

    {% if not form.vars.valid %}
        <script>
            window.location.hash = 'contact-form';
        </script>
    {% endif %}
    {{ include('FormView/RequestFormView.html.twig') }}
{% endblock %}