{% extends 'base.html.twig' %}
{% block title %} | Product Design {% endblock %}
{% block body %}
    <div class="animated fadeInDown" style="margin-bottom: 200px;">
        <div class="twelve columns">
            <img src="{{ asset("images/services/product/Production-Banner.jpg") }}" alt="ruler banner image">
        </div></div>

    <main>





        <!---------Main Pic------------->
        <div class="container" id="aboutme">
            <div class="row">


                <div class="three columns"></div>


{#removed animated fadeDown classes#}
                <!----------------About Me Section--------------->
                <div class="abutme nine columns">


                    <h3 style="margin-top: 100px">Product Research Development</h3>
                    <p style="font-size:1.25em;"><strong>BV USA LLC</strong> believes in a collabrative approach when it comes to product research and developement. We grow with our clients by creating positive experiance and inteligent solutions to diffficult problems. We are here to aid you in creating and impacting your companies product from research to fruition. We hope to bring a creative positive user experiance though our product developement to make your consumers appreciate your product in the same way we know you do.
                    </p>

                </div>

            </div>
        </div>






        <div class="container" id="whatwedo">
            <div class="row">




                <!----------------What We Do Section--------------->

                <div class="four columns"><img src="{{ asset("images/services/product/3dprinter.jpg") }}" alt="3d printer image"></div>
                <div class="abutme eight columns">


                    <h3 style="text-align: left">Custom Product Development</h3>
                    <p style="font-size:1.25em; text-align: left;"><strong>BV USA LLC</strong> can manage any of your product developement needs and be a tool for further design production and test printing. We can manage, create, update, and outsource any and all projected features.</p>

                </div>






            </div>

    {% if not form.vars.valid %}
        <script>
            window.location.hash = 'contact-form';
        </script>
    {% endif %}
    {{ include('FormView/RequestFormView.html.twig') }}
{% endblock %}