{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <p>
            The server encountered a conflict sending your request.
            <a href="{{ path('homepage') }}"> Click here to return to homepage.</a>
        </p>
    </div>
{% endblock %}