{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <p>
            Server is currently on maintenance. Please come back later after we are done.
        </p>
    </div>
{% endblock %}