{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3 class="status">The request could not be understood by the server due to malformed syntax.</h3>
    </div>
{% endblock %}