{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <p>
            We cannot find the page you are looking for.
            <a href="{{ path('homepage') }}">Click this link
                to return to the homepage.
            </a>
        </p>
    </div>
{% endblock %}