{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3 class="status">
            We cannot find the page you are looking for.
        </h3>
    </div>
{% endblock %}