{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <p>
            The server encountered a problem. Please check back again later after we resolved the issue.
        </p>
    </div>
{% endblock %}