{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3 class="status">
            The server encountered a conflict sending your request.
        </h3>
    </div>
{% endblock %}