{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <p>
            Unauthorized Access. <a href="{{ path('homepage') }}">Click this link to go back to homepage.</a>
        </p>
    </div>
{% endblock %}