{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3 class="status">
            The server encountered a problem. Please check back again later after we resolved the issue.
        </h3>
    </div>
{% endblock %}