{% extends 'base.html.twig' %}

{% block body %}
    <script>
        history.pushState("", document.title, window.location.pathname
            + window.location.search);
    </script>
    <div class="container">
       <h3 class="status">We received your {{ category }} request and we will contact you as soon as possible.</h3>
    </div>
{% endblock %}