{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(photoRequestForm) }}
        {{ form_widget(photoRequestForm) }}
    <button type="submit">Submit Form</button>
    {{ form_end(photoRequestForm) }}
{% endblock %}