{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(requestForm) }}
        {#<select name="requestForm.category">#}
        {#{% for category in requestForm.category.vars.choices %}#}
            {#<option {% if category.label in app.request.attributes.get('_route') %} selected="selected" {% endif %}>#}
                {#{{ category.label }}#}
            {#</option>#}
        {#{% endfor %}#}
        {#</select>#}
    {#{{ form_row(requestForm.name) }}#}
{% endblock %}